{{ $data := index site.Data site.Language.Lang }}

{{ if $data.about.about.enable }}
{{ with $data.about.about }}
{{"<!-- Start About Section -->" | safeHTML}}
<section class="bg-one about section" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                {{"<!-- section title -->" | safeHTML}}
                <div class="title text-center wow fadeIn" data-wow-duration="1500ms">
                    {{ with .title }}
                    {{ $words := split . " " }}
                    {{ $wordCount := sub (len $words) 1 }}
                    <h2>
                        {{ range $i, $word := $words }}
                        {{ if lt $i $wordCount }}
                        {{ $word | safeHTML }}
                        {{ else }}
                        <span class="color">{{ $word | safeHTML }}</span>
                        {{ end }}
                        {{ end }}
                    </h2>
                    {{ end }}
                    <div class="border-meghna"></div>
                </div>

            </div>
            {{"<!-- /section title -->" | safeHTML}}

            {{ range .about_item }}
            {{"<!-- About item -->" | safeHTML}}
            <div class="col-lg-4 text-center wow fadeInUp" data-wow-duration="500ms">
                <div class="block" style="height: 100%;">
                    <div class="icon-box">
                        {{with .icon}}<i class="{{ . }}"></i>{{ end }}
                    </div>
                    {{"<!-- Express About Yourself -->" | safeHTML}}
                    <div class="content text-center">
                        <h3>{{ .title }}</h3>
                        <p>{{ .content | markdownify }}</p>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{"<!-- /about -->" | safeHTML}}
{{ end }}
{{ end }}